vendor
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**

**/*.log
**/*.md
**/.dockerignore
**/.gitattributes
**/.gitignore
**/Dockerfile
.editorconfig
bin/*
build/
public/packages/
public/media/
public/uploads/
storage/
vendor/
